# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual environment
venv/
.env
!.env.example

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Alembic
alembic/versions/__pycache__/

# Database
*.sqlite3
downloads/

# Tests / coverage
.coverage
htmlcov/

# Cache
.pytest_cache/
.mypy_cache/
